block content
  body

    //- The actual data for Your Database
    span Informations about Your actual Stats!
      span.dbBpm  #{bpm} 
      span  BPM| 
      span.dbStats  #{expStats}
      span  Statistic value
    