
block title 
  title metrolyse

  body
    div.mongo
      script.
        var testObj = !{testObj}
        //- testObj = testObj.trim()
        
        console.log(JSON.parse(data))
    a(href='/metrolyse') metrolyse
