
doctype html
html(lang='en')
  head
    title=title
    meta(charset='UTF-8')
    meta(name="description", content="The Layout.pug for Metrolyse")
    meta(name="theme-color" content="#ffffff")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="ico" href="../pics/2542SticksSmall.ico")
    link(rel="apple-touch-icon" href="/public/pics/maskable_icon_x192.png")
    link(rel="manifest", href="../pwa.webmanifest")
    link(href='../css/metroStyle.css', rel = "stylesheet")

    include navigation
    block title   
      title Metrolyse //-Defaulttitle
      
  body
    block content
    
      
        br
        span You are now |  
          span
            b.page-status online
    
    block foot  
      #footer
        p Thanks for testing!
    
  script(type="module" src='../js/metronomControl.js')
  script(type="module" src='../js/timer.js')
  script(type="module" src='../js/input.js')
  script(type="module" src='../js/settings.js')
  script(type="module" src='../js/canvas.js')
  script(type="module" src='../js/traindiary.js')
  script(type="module" src='../js/toSaveLocal.js')
  script(type="module" src='../js/traindiaryJSON.js')
  script(src="../sw.js")
  script(src="../js/cs_indexdb.js")
  script(src="/js/netState.js")
  script(src="../pwa.js")