extends layout

block title 
  title metrolyse

block content
  body
    include navigation 
  .content
  
    .metronome
      .displayBpm 
        br
        span.tempo #{bpm} 150 
        span.bpmText BPM 
        
                       
      .adjBpm
        br
        br
        button.adjBpm-btn-minus -
        input.slider(type="range" min="10" max="300" step="1")
        button.adjBpm-btn-plus +
                   
      .startButton START   
    
      .buttontest
        span.checking  #{checkSum}

    include visual
          
