extends layout

block title 
  title metrolyse


  body
    .content
  
      .metronome
        .displayBpm 
          br
          span.tempo #{bpm} 150
          span.bpmText BPM 
        
                       
        .adjBpm
          br
          br
          button.adjBpm-btn-minus -
          input.slider(type="range" min="10" max="300" step="1")
          button.adjBpm-btn-plus +
                   
        .startButton >  
      include visual

        #addPwaPrompt(style="display:none;")
        p Add this application to your home screen!
        button#btnAddPwa Install
        script.
          let deferredPrompt;
          window.addEventListener('beforeinstallprompt', (e) => {
              e.preventDefault();
              deferredPrompt = e;
              addPwaPrompt.style.display = 'block';
          });
          document.getElementById('btnAddPwa').addEventListener('click', (e) => {
              deferredPrompt.prompt();
              deferredPrompt.userChoice.then((choiceResult) => {
                  if (choiceResult.outcome === 'accepted') {
                      console.log('user accepted prompt.');
                  }
                  deferredPrompt = null;
              });
          });
  


      
          

      
          