body
  .navigation
    a.navButton(class='button' href='/metrolyse') Metrolyse
    a.navButton(class='button' href='/settings') Settings
    a.navButton(class='button' href='/stuff') Stuff
    a.navButton(class='button' href='/db') DB
    a.navButton(class='button' href='/traindiary') Traindiary