block content
  body
    .navigation
    a(href='/') start
    a(href='/metrolyse') metrolyse
    a(href='/settings') settings
    a(href='/stuff') stuff
    a(href='/db') TestDB
    a(href='/traindiary') traindiary