extends layout
block title 
  
  body
    h1 Your traindiary
    h3 Attention: To delete entries, just klick ém!
    ul#myList
    
    
    button#findInDatabase(type="submit") Entries of Database
    button#deleteAll(type="submit") Tabula Rasa
    
    
    script(type="module" src='../js/traindiary.js')