extends layout
block title 
  
  body
    h1 Your traindiary
    h3 Attention: To delete entries, just klick ém!
    ul#myList
    script(type="module" src='../js/traindiary.js')
    

    //- list('my-list')
    //-     form(action="/api", method="post")
    //-       input(type="text", name="id")
    //-       button(type="submit") Submit
    //-     - const output = #myList 
    //-     - const options = {method: 'POST', headers:{'Content-Type' : 'application/json'}, body: JSON.stringify(output)}
    //-     - fetch('/api/traindiary', options)
    //-     h1 #{output}


    //- h1#output Type of Sport
    //- label inputTag
    //-   input(type="text", name="inputTag", value=allData, checked="")
          //- input(type="text" name="inputTag" placeholder:"Basket")
      //- button.save(type="button" onclick="save()") Save
      //- button.view(type="button" onclick="view()") View
    
    //- input#filter-input(name="filter-input", placeholder="Gib was zum Filtern ein")
    //- ul.date-list
    //-   li.term
    //-     a(href="#term-name") Term Name
    //-   li.term
    //-     a(href="#term-name2") Term Name2 
    //-   tr.filter-row#term-name 
    //-   //- Ich werde gezeigt wenn Term Name gewählt wird.
    //- h2.todo To do
    //- form(action)
    //-   input(type="text", name="todo")
    //-   input(type="submit", name, value="+")
    //-   ol#todos











    //- form(action="/api/traindiary", method="POST")
    //-   button(type="submit") Send to backend
      


    //- input(type="text", name="fname")
    //- input(type="text", name="lname")
      

    