extends layout
block content
block title 
  title metrolyse

  body
    p test
    //- each te in test
      //- .te
        //- img(src="../public/pics/*")
        //-  p.title=te.name.title
      
      
  
